@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Nexa';
  src: url("../fonts/Nexa Bold.eot");
  src: local("☺"), url("../fonts/Nexa Bold.woff") format("woff"), url("../fonts/Nexa Bold.ttf") format("truetype"), url("../fonts/Nexa Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Black';
  src: url("../fonts/Nexa-Black.eot");
  src: local("☺"), url("../fonts/Nexa-Black.woff") format("woff"), url("../fonts/Nexa-Black.ttf") format("truetype"), url("../fonts/Nexa-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Book';
  src: url("../fonts/Nexa-Book.eot");
  src: local("☺"), url("../fonts/Nexa-Book.woff") format("woff"), url("../fonts/Nexa-Book.ttf") format("truetype"), url("../fonts/Nexa-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebebeb;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 40px 0 0 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 360px) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  max-width: 48px;
  max-height: 50px;
  margin-right: 10px;
}

@media (max-width: 410px) {
  .header__logo {
    max-width: 38px;
    margin-right: 20px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    margin-bottom: 20px;
  }
}

.header__title {
  text-shadow: 0 1px 0 #ffffff;
  color: #7d7d7d;
  font-family: "PT Sans";
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.3px;
}

@media (max-width: 410px) {
  .header__title {
    max-width: 150px;
  }
}

.header__title span {
  background-clip: text;
  text-shadow: 0 1px 0 #ffffff;
  color: #6017a3;
  font-family: "Nexa Black";
  font-size: 39px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 410px) {
  .header__title span {
    font-size: 29px;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__quicklinks {
  text-shadow: 0 1px 0 #ffffff;
  color: #c7c7c7;
  font-family: 'Nexa';
  font-size: 12px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

@media (max-width: 855px) {
  .header__quicklinks {
    display: none;
  }
}

.header__quicklinks::after {
  content: "";
  width: 1px;
  height: 25px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff;
  background-color: #c7c7c7;
  margin-left: 15px;
}

.header__dropdown {
  color: #58159b;
  font-family: 'Nexa';
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12px;
  margin-right: 25px;
}

@media (max-width: 855px) {
  .header__dropdown {
    display: none;
  }
}

.header__dropdown span {
  display: inline-block;
  margin-left: 15px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.11px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search input {
  width: 300px;
  padding: 15px 0 15px 20px;
  color: #959595;
  font-family: 'Nexa';
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.12px;
}

@media (max-width: 718px) {
  .header__search input {
    width: 250px;
  }
}

@media (max-width: 510px) {
  .header__search input {
    width: 200px;
  }
}

.header__search input:hover {
  background-color: #f6f6fd;
  -webkit-box-shadow: 0 5px 5px -5px #000000;
          box-shadow: 0 5px 5px -5px #000000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__search input:focus {
  background-color: #f6f6fd;
  -webkit-box-shadow: 0 5px 10px 0 #000000;
          box-shadow: 0 5px 10px 0 #000000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li {
  width: 100%;
}

.header__list li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__list li a {
  color: #707070;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  padding: 15px 0 0 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#ffffff));
  background-image: linear-gradient(to top, #d7d7d7 0%, #ffffff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 568px) {
  .header__list li a {
    font-size: 14px;
    padding: 10px 0 0 0;
  }
}

.header__list li a .sprite {
  margin-bottom: 15px;
}

@media (max-width: 568px) {
  .header__list li a .sprite {
    display: none;
  }
}

.header__list li a::after {
  content: "";
  width: 100%;
  height: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
  background-color: #a34ff0;
  margin-top: 30px;
}

@media (max-width: 610px) {
  .header__list li a::after {
    margin-top: 15px;
  }
}

@media (max-width: 568px) {
  .header__list li a::after {
    margin-top: 10px;
  }
}

.header__list li a:hover {
  color: #701dbb;
}

.header__list li a:hover::after {
  -webkit-transform: scaleY(2);
          transform: scaleY(2);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
  background-color: #701dbb;
}

.photo__img {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.grey {
  padding: 50px 0 110px 0;
  background-color: #2d2d2d;
}

@media (max-width: 642px) {
  .grey {
    padding: 50px 0 50px 0;
  }
}

.grey__map {
  text-align: center;
}

.grey__map h2 {
  color: #ffffff;
  font-family: "Nexa Book";
  font-size: 36px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.9px;
  margin-bottom: 5px;
}

.grey__map p {
  color: #a161db;
  font-family: Nexa;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.35px;
  margin-bottom: 30px;
}

.grey__map .grey__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grey__map .grey__photo img {
  max-width: 100%;
}

.grey__map .grey__photo img:last-of-type {
  position: absolute;
  display: none;
}

.grey__map .grey__photo:hover img:last-of-type {
  display: block;
  top: 0;
  left: 10%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.grey__3picter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.grey__3picter .sprite-Shape_9 {
  position: relative;
}

.grey__3picter .sprite-Shape_9::before, .grey__3picter .sprite-Shape_9::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 3px;
  background-color: #6d6d6d;
  position: absolute;
  right: 150%;
  top: 50%;
}

@media (max-width: 842px) {
  .grey__3picter .sprite-Shape_9::before, .grey__3picter .sprite-Shape_9::after {
    display: none;
  }
}

.grey__3picter .sprite-Shape_9::after {
  left: 150%;
}

.grey__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 642px) {
  .grey__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 470px) {
  .grey__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.grey__text h3 {
  color: #ffffff;
  font-family: "Nexa Book";
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 22px;
}

.grey__text p {
  color: #ffffff;
  font-family: "Nexa Book";
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.3px;
}

.grey__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  max-width: 300px;
}

.grey__column:not(:last-of-type) {
  margin-right: 10px;
  margin-bottom: 20px;
}

.screen {
  background-color: #222222;
}

.screen__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen__photo img {
  max-width: 100%;
}

.team-and-text {
  padding: 80px 0 35px 0;
}

.team-and-text input {
  display: none;
}

.team-and-text label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #979797;
  margin-right: 7px;
  border-radius: 50%;
}

.team-and-text label:first-of-type {
  margin-left: 45%;
}

.team-and-text input:checked + label {
  background-color: #6017a3;
}

.team-and-text input:checked:nth-of-type(1) ~ .team-and-text__slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.team-and-text input:checked:nth-of-type(2) ~ .team-and-text__slide {
  -webkit-transform: translateX(-940px);
          transform: translateX(-940px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.team-and-text input:checked:nth-of-type(3) ~ .team-and-text__slide {
  -webkit-transform: translateX(-1890px);
          transform: translateX(-1890px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.team-and-text input:checked:nth-of-type(4) ~ .team-and-text__slide {
  -webkit-transform: translateX(-2840px);
          transform: translateX(-2840px);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.team-and-text__team {
  overflow: hidden;
  position: relative;
}

@media (max-width: 959px) {
  .team-and-text__team {
    display: none;
  }
}

.team-and-text__team > h2 {
  text-align: center;
}

.team-and-text__team > p {
  text-align: center;
  margin-bottom: 45px;
  font-family: "Nexa";
  color: #717171;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.35px;
}

.team-and-text__team h2 {
  text-shadow: 0 1px 0 #ffffff;
  color: #717171;
  font-family: "Nexa Book";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.9px;
  margin-bottom: 17px;
}

.team-and-text__team p {
  color: #7b7b7b;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.45px;
}

.team-and-text__team p span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.team-and-text__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 35px;
  margin-bottom: 55px;
}

.team-and-text__slide-1, .team-and-text__slide-2, .team-and-text__slide-3, .team-and-text__slide-4 {
  margin-right: 17px;
}

.team-and-text__slide-img {
  margin-bottom: 24px;
  width: 220px;
  height: 210px;
  position: relative;
}

.team-and-text__slide-img::before {
  content: "";
  display: block;
  width: 220px;
  height: 210px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.team-and-text__slide img {
  position: relative;
  max-width: 100%;
  outline: 3px solid white;
  outline-offset: -3px;
}

.team-and-text__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-and-text__text-box h3 {
  color: #252525;
  font-family: 'Nexa';
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 25px;
}

.team-and-text__text-box p:first-of-type {
  color: #6017a3;
  font-family: 'Nexa';
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 30px;
}

.team-and-text__text-box p:last-of-type {
  font-family: Arial;
  line-height: 22px;
  color: #949494;
  font-weight: 400;
}

.team-and-text__left {
  max-width: 460px;
  padding: 60px 68px 96px 50px;
  background-color: #fff;
  position: relative;
}

@media (max-width: 959px) {
  .team-and-text__left {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 20px;
    padding: 40px 48px 76px 30px;
  }
}

.team-and-text__right {
  max-width: 460px;
  padding: 60px 68px 96px 50px;
  background-color: #fff;
  margin-left: 20px;
  position: relative;
}

@media (max-width: 959px) {
  .team-and-text__right {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 0;
    padding: 40px 48px 76px 30px;
  }
}

.team-and-text__full-col {
  padding: 60px 68px 96px 50px;
  background-color: #fff;
  margin-top: 20px;
}

@media (max-width: 959px) {
  .team-and-text__full-col {
    padding: 40px 48px 76px 30px;
  }
}

.team-and-text__plus {
  width: 30px;
  height: 30px;
  background-color: #8f33c4;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-and-text__plus::before, .team-and-text__plus::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.team-and-text__plus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  background-color: #373737;
  padding: 26px 0 240px 0;
  border-top: 4px solid #914dcf;
  color: #ffffff;
}

@media (max-width: 649px) {
  .footer {
    padding: 26px 0 100px 0;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 35px;
}

@media (max-width: 649px) {
  .footer__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  max-width: 48px;
  max-height: 50px;
  margin-right: 10px;
}

.footer__title {
  color: #7d7d7d;
  font-family: "PT Sans";
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.footer__title span {
  background-clip: text;
  color: #ffffff;
  font-family: "Nexa Black";
  font-size: 39px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 8px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 649px) {
  .footer__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__nav-list li {
  padding: 0 24px 20px 24px;
  position: relative;
}

.footer__nav-list li:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 48px;
  height: 4px;
  background-color: #a161db;
}

.footer__nav-list li:last-of-type {
  padding-right: 0;
}

.footer__nav-list li:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 2px;
  height: 11px;
  background-color: #767676;
}

@media (max-width: 649px) {
  .footer__nav-list li:not(:first-of-type)::before {
    display: none;
  }
}

.footer__nav-list a {
  color: #ffffff;
  font-family: 'Nexa';
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 649px) {
  .footer__nav-list a {
    font-size: 18px;
  }
}

.footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media (max-width: 649px) {
  .footer__middle {
    margin-bottom: 20px;
  }
}

.footer__middle p {
  max-width: 451px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  margin-right: 78px;
}

@media (max-width: 649px) {
  .footer__middle p {
    margin-right: 18px;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 649px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__contacts li {
  margin-right: 35px;
}

@media (max-width: 649px) {
  .footer__contacts li {
    margin: 0 0 20px 0;
  }
}

.footer__contacts li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 649px) {
  .footer__contacts li a {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
  }
}

.footer__contacts li a:hover {
  color: #ffffff7e;
}

.footer__contacts li a div {
  margin-right: 7px;
}

.footer__bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

@media (max-width: 649px) {
  .footer__bottom ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.footer__bottom ul li {
  margin-right: 15px;
}

@media (max-width: 649px) {
  .footer__bottom ul li {
    margin-bottom: 20px;
  }
}

.footer__bottom ul li a {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 649px) {
  .footer__bottom ul li a {
    font-size: 15px;
  }
}

.footer__bottom ul li a:hover {
  color: #ffffff7e;
}

.footer__bottom p {
  color: #7e7e7e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
  max-width: 762px;
}

.sprite {
  background-image: url("../img/icons/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-Shape_1 {
  width: 17px;
  height: 27px;
  background-position: -5px -5px;
}

.sprite-Shape_10 {
  width: 76px;
  height: 76px;
  background-position: -32px -5px;
}

.sprite-Shape_11 {
  width: 76px;
  height: 76px;
  background-position: -5px -91px;
}

.sprite-Shape_14 {
  width: 9px;
  height: 9px;
  background-position: -118px -5px;
}

.sprite-Shape_15 {
  width: 13px;
  height: 9px;
  background-position: -137px -5px;
}

.sprite-Shape_15_copy {
  width: 26px;
  height: 18px;
  background-position: -160px -5px;
}

.sprite-Shape_17 {
  width: 13px;
  height: 9px;
  background-position: -118px -33px;
}

.sprite-Shape_2 {
  width: 6px;
  height: 12px;
  background-position: -141px -33px;
}

.sprite-Shape_22 {
  width: 26px;
  height: 27px;
  background-position: -157px -33px;
}

.sprite-Shape_2_copy {
  width: 26px;
  height: 27px;
  background-position: -118px -70px;
}

.sprite-Shape_3 {
  width: 21px;
  height: 27px;
  background-position: -154px -70px;
}

.sprite-Shape_3_copy {
  width: 21px;
  height: 27px;
  background-position: -91px -107px;
}

.sprite-Shape_4 {
  width: 26px;
  height: 25px;
  background-position: -122px -107px;
}

.sprite-Shape_8 {
  width: 51px;
  height: 75px;
  background-position: -196px -5px;
}

.sprite-Shape_9 {
  width: 84px;
  height: 51px;
  background-position: -158px -107px;
}

.sprite-_ {
  width: 10px;
  height: 10px;
  background-position: -91px -168px;
}

.sprite-clock_ {
  width: 23px;
  height: 23px;
  background-position: -111px -168px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.sprite-map_pin {
  width: 11px;
  height: 18px;
  background-position: -144px -168px;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */